@import "tailwindcss" source(none);
@source "../src";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --font-sans: "Kanit", sans-serif;
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.05 0 0);
  --foreground: oklch(0.95 0.01 240);
  --card: oklch(0.05 0 0);
  --card-foreground: oklch(0.95 0.01 240);
  --popover: oklch(0.05 0 0);
  --popover-foreground: oklch(0.95 0.01 240);
  --primary: oklch(0.95 0.01 240);
  --primary-foreground: oklch(0.05 0 0);
  --secondary: oklch(0.2 0.01 240);
  --secondary-foreground: oklch(0.95 0.01 240);
  --muted: oklch(0.2 0.01 240);
  --muted-foreground: oklch(0.7 0.02 240);
  --accent: oklch(0.2 0.01 240);
  --accent-foreground: oklch(0.95 0.01 240);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.984 0.003 247.858);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.7 0.02 240);
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-color: var(--color-border);
  }

  html,
  body,
  #root {
    background-color: #000000;
    font-family: "Kanit", sans-serif;
    color: #d7e2ea;
  }
}

.hero-heading {
  background: linear-gradient(180deg, #736f64 0%, #bbccd7 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}


/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Optional: Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0C0C0C;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}